html {
  font-size: 18px;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #FDF0D0;
    font-size: 1em;
}
.form-background {
  background-color: rgba(230, 230, 175);
}
div {
    position: relative;
    box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
.content {
  margin: 2%;
}
.goal-box-layout {
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1px;
  padding-right: 1px;
  width: 96%;
  border: 0px blue solid;
}
.box-size {
  box-sizing: border-box;
  width: 99%;
}
.paragraph-box {
    box-sizing: border-box;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
}
.job-description-box {
    box-sizing: border-box;
    text-align: left;
    word-wrap: break-word;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 98%;
}
div.container-form-entry {
    font-size: 1em;
    width: 99%;
    box-sizing: border-box;
    border: 0px solid black;
    padding: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
}
.year-form-input {
    width: 8em;
    max-width: 49%;
    box-sizing: border-box;
    border: 0px solid red;
    padding: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 1em;
}
div.year-form-entry {
    width: 14em;
    max-width: 49%;
    box-sizing: border-box;
    display: inline-block;
    border: 0px solid red;
    padding: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 1em;
}
div.box-input-label {
    box-sizing: border-box;
    display: inline-block;
    border: 0px solid blue;
    text-align: left;
    padding-left: 0px;
}
div.position-input-label {
    border: 0px solid black;
    display: inline-block;
    padding-left: 0px;
}
div.year-input-label {
    width: 6em;
    text-align: left;
    border: 0px solid blue;
    padding-left: 0px;
    display: inline-block;
}
div.short-input-label {
    display: inline-block;
    width: 4em;
    text-align: left;
    padding-left: 0px;
}
div.phrase-input-label {
  width: 6em;
  text-align: left;
  padding-left: 0px;
}
div.profile-input-form {
    box-sizing: border-box;
    display: inline-block;
    border: 0px solid blue;
}
div.inline {
    display: inline;
}
div.inline-block {
    display: inline-block;
}
form {
    padding: 0.2vw;
}
h1 {
    color: #008800;
    margin-top: 5px;
    margin-bottom: 1px;
    padding: 2px;
}
.headline-green {
    color: #008800;
}
h2 {
    color: #008800;
    margin-top: 10px;
    padding: 1px;
}
h3 {
    color: #008800;
    margin-top: 18px;
    padding-top: 2px;
    padding-bottom: 8px;
    text-align: left;
}
h4 {
    margin-top: 10px;
    color: #008800;
    text-align: left;
}
h5 {
    color: #008800;
    margin-top: 10px;
    padding-top: 2px;
    font-size: 1em;
    text-align: left;
    font-weight: normal;
}
p {
    color: #1A301A;
    font-size: 1em;
}
h5 span {
    color: #1A301A;
    padding: 1px;
    font-size: 1em;
}
.note {
    color: #008800;
    font-style: italic;
}
a {
    font-size: inherit;
    color: #0055FF;
    text-decoration: underline;
    text-align: center;
    padding: 2px;
}
p a {
    color: #0055FF;
    text-decoration: underline;
    text-align: center;
    padding: 2px;
    font-size: inherit;
}
input {
    box-sizing: border-box;
    padding: 6px;
    /*background-color: #eef;*/
    background-color: rgb(249, 255, 185);
    border: 2px solid #886600;
    font-size: 1em;
}
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #F9FFBA inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #333;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: /*your box-shadow*/,0 0 0 50px white inset;
    -webkit-text-fill-color: #333;
}
input:-internal-autofill-selected {
    background-color: rgb(249, 255, 185) !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
}
label {
    border: 0px solid #886600;
    margin: 0px !important;
    padding: 0px;
}
label.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.padding-zero {
    padding: 0px;
}
div.inline-block-layout {
    /*display: inline-block;
    vertical-align: baseline;
    margin-left: auto;
    margin-right: auto;
    */
    padding: 2px;
    width: 200px;
    font-size: 1em;
}
.centered-row-layout {
    width: 100%;
    margin-left: auto ;
    margin-right: auto ;
    font-size: 1em;
}
img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90%;
    top: 15px;
}
textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    height: 180px;
    padding: 3px;
    border: 2px solid #886600;
    /*background-color: #eef;*/
    background-color: rgb(249, 255, 180);
}
/* unvisited link */
a:link {
   color: blue;
}
p a:link {
   color: blue;
}
/* visited link */
a:visited {
   color: #17d;
}
/* mouse over link */
a:hover {
   color: hotpink;
   text-decoration: none;
}
.paragraph_link {
    color: #0055FF;
    text-decoration: none;
    text-align: center;
}
.small-bottom-pad {
    padding-bottom: 1px;
    margin-bottom: 1px
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.float-left {
    float: left;
}
.right {
    text-align: right;
}
.justify {
    text-align: justify;
    text-justify: inter-word;
}
.clock {
    color: #008800;
    font-size: 1.5em;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 6px;
    font-weight: bold;
    background-color: #ffe;
    border: 3px solid #008800;
}
.message {
    padding: 1px;
    margin-bottom: 10px;
    color: #bb4422;
}
.indent {
    margin-left: 30px;
}
.pad-left {
    padding-left: 10px;
    padding-right: 5px;
}
.button {
    font-size: 1.5rem;
    width: 8vw;
    padding: 3px;
    border: 1px solid #008800;
    background-color: #eff;
    margin-left: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    text-decoration: none;
}
.button-css {
    font-size: 2rem;
    text-align: center;
    padding: 3px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid #008800;
    background-color: #def;
    margin: 6px;
}
.button-submit {
    font-size: 2rem;
    padding: 4px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 2px solid #008800;
    background-color: #def;
    margin: 6px;
}
.button-cancel {
    font-size: 2rem;
    width: 7vw;
    padding: 3px;
    border: 1px solid #008800;
    background-color: #def;
    margin-top: 10px;
}
.anchor-button {
    padding: 0.2rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border: 2px solid #008800;
    background-color: #eff;
    margin-top: 0.2rem;
    color: 333;
    text-decoration: none;
}
.width-eight {
    width: 8rem;
}
.width-twelve {
    width: 12rem;
}
.width-eighteen {
    width: 18rem;
}
.button-small {
    font-size: 1.5rem;
    width: 30px;
    padding: 2px;
    border: 1px solid #008800;
    background-color: #def;
    margin-top: 4px;
}
.click-plus {
    text-align: center;
    border: 1px solid #008800;
    background-color: #ffd;
}
.ui-autocomplete-custom {
    background-color: rgb(249, 255, 185);
    border: 2px solid #886600;
    z-index: 2;
}
.spacer {
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}
.double-space {
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.quad-space {
    margin-top: 4vw;
    margin-bottom: 4vw;
}
.text-box {
    font-size: 1em;
    border: 2px solid #886600;
    text-align: left;
    padding: 3px;
    box-sizing: border-box;
}
.year-entry-box {
    padding: 3px;
    border: 2px solid #886600;
}
.subject-name {
    width: 44vw;
}
.name-box-small {
    font-size: 2.5vw;
    width: 120px;
    padding: 3px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #eef;
}
.headline-box {
    font-size: 3vw;
    width: 100%;
    padding-top: 2px;
    margin-top: 2px;
    margin-bottom: 5px;
    border: 2px solid #008800;
    background-color: #eef;
}
.school {
    width: 98%;
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #886600;
    box-sizing: border-box;
}
.award {
    width: 98%;
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #886600;
    box-sizing: border-box;
}
.name-box {
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 1px solid #008800;
    background-color: #eef;
}
.skill {
    box-sizing: border-box;
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #886600;
}
.small-word-button {
    font-size: 2.5vw;
    width: 80px;
    padding: 2px;
    margin-top: 20px;
    border: 1px solid #008800;
    background-color: #def;
}
.margin-close {
    margin-top: 7px;
    margin-bottom: 7px;
}
.more-left-margin {
    margin-left: 3vw;
}
.more-right-margin {
    margin-right: 2em;
}
.more-top-margin {
    margin-top: 4vw;
}
.less-top-margin {
    margin-top: 0.2vw;
    margin-block-start: 0.1vw;
}
.more-bottom-margin {
    margin-bottom: 1.5em;
}
.more-line-height-1p5em {
    line-height: 1.5em;
}
.more-line-height-2x {
    line-height: 2em;
}
.more-line-height-3x {
    line-height: 3em;
}
.less-bottom-margin {
    margin-bottom: 0.1vw;
    margin-block-end: 0.1vw;
}
.margin-top-small {
    margin-top: 1px;
}
.margin-bottom-small {
    margin-bottom: 1px;
}
.more-top-margin-2x {
    margin-top: 1.01rem;
}
.more-top-margin-3x {
    margin-top: 1.5em;
}
.zero-bottom-margin {
    margin-bottom: 0px;
}
.zero-top-margin {
    margin-top: 0px;
}
.div-edu {
    border-style: dashed;
    border-width: thin;
    /*background-color: #FDF0A0;*/
    padding: 10px;
}
div.short-input-form {
  width: 5em;
  margin-right: 1em;
  border-width: 0px;
  border-color: #FF6600;
}
.border-top-bottom {
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #886600;
}
table {
      border-collapse: collapse;
      table-layout:fixed;
      width: 100%;
      padding: 5px;
      border: 2px solid #008800;
      background-color: #CCEEFF;
}
.tablePosition {
      border-collapse: collapse;
      margin: auto;
      border: 0px solid #008800;
}
tr {
    line-height: normal;
}
th {
    font-size: 0.9rem;
    color: #008800;
    padding: 3px;
    margin-left: auto ;
    margin-right: auto ;
    background-color: #BBDDEE;
    border-spacing: 0px;
    border: 2px solid #008800;
}
td {
    font-size: 0.86rem;
    word-break: break-word;
    padding: 3px;
    margin-left: auto ;
    margin-right: auto ;
    border: 1px solid #008800;
    border-spacing: 0px;
    background-color: #EEEEFF;
}
ul {
    margin-bottom: 10px;
    padding-inline-start: 20px;
    list-style-type: square;
}
li {
    padding-left: 1px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 3px;
    list-style-type: square;
    color: #222;
}
#main {
    position: absolute;
    top: 2%;
    border: 0px orange solid;
}
div.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons.ui-draggable {
    box-sizing: border-box !important;
    width: 300px !important;
    margin: auto; !important;
}
#top {
    bottom: 30%;
    height: 27%;
    top: 3%;
    left: 25%;
    width: 50%;
    border: 0px orange solid;
    padding: 1px;
    position: relative;
}
#centerlist {
    top: 20%;
    left: 21%;
    width: 58%;
    border: 0px orange solid;
}
#bottom {
    left: 35%;
    width: 30%;
    bottom: 5%;
    height: 3%;
    position: relative;
}
#two {
    top: 3%;
    left: 3%;
    border: 0px #ccf solid;
    position: relative;
}
.row {
  display: flex;
  flex-direction: row;
}
