body {
    min-width: 314px;
}
.content {
    margin: 10px;
}
div.box-input-label {
    width: 32%;
}
div.position-input-label {
    width: 45%;
}
div.profile-input-form {
  width: 63%;
}
div.container-edu-info {
  width: 100%;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h1 a {
    size: 2rem;
    color: #0055FF;
    text-decoration: underline;
}
h3 {
    font-size: 1.3rem;
}
h3 a {
    color: #0088ff;
    font-size: 1.3rem;
    margin-top: 20px;
}
h4 {
    font-size: 1.2rem;
    margin-top: 12px;
}
h5 {
    font-size: 1rem;
    color: #008800;
    margin-top: 10px;
}
a {
    font-size: inherit;
}
p {
    font-size: 1.01rem;
}
.big {
    font-size: 1.3rem;
}
.small {
    font-size: 0.9rem;
}
p a {
    font-size: 1.01rem;
}
input {
    font-size: 1.01rem;
    padding: 3px;
}
img {
    width: 90%;
}
textarea {
    font-size: 1.01rem;
    height: 180px;
    width: 98.5%;
    padding: 2px;
    margin-top: 1px;
}
.button {
    font-size: 1rem;
    width: 8vw;
}
.button-cancel {
    font-size: 1rem;
    width: 7vw;
}
.button-submit {
    font-size: 1rem;
    padding: 3px;
}
.click-plus {
    font-size: 6vw;
    width: 6vw;
    text-indent: 0px;
    padding: 2px;
    margin-bottom: 12px;
    margin-top: 6px;
}
.anchor-button {
    font-size: 1rem;
}
.goal-box-layout {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 100%;
}
.paragraph-box {
    width: 100%;
    font-size: 1rem;
}
.password {
    font-size: 1rem;
    width: 49vw;
    padding: 2px;
    margin-top: 2px;
    margin-bottom: 10px;
    border: 1px solid #008800;
}
.skill {
    box-sizing: border-box;
    width: 98%;
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;width: 99%
    border: 1px solid #668800;
}
.text-box {
    padding: 3px;
    width: 99%;
}
.year-entry-box {
    width: 4em;
}
.max-entry-box-width {
    max-width: 99%;
}
th {
    font-size: 0.9rem;
}
td {
    font-size: 0.85rem;
    word-break: break-word;
}
.less-bottom-margin {
    margin-bottom: 0.1vw;
    margin-block-end: 0.1vw;
}
.less-top-margin {
    margin-top: 0.4vw;
    margin-block-start: 0.4vw;
}
.more-top-margin-2x {
    margin-top: 4vw;
}
.more-top-margin-3x {
    margin-top: 6vw;
}
#main {
    left: 2%;
    right: 2%;
    width: 96%;
}
#one {
  top: 5%;
  left: 10%;
  width: 80%;
  height: 38%;
  border: 0px orange solid;
  padding: 2px;
}
#password {
    border: yellow solid;
    top: 63%;
    right: 42%;
    width: 10%;
    padding: 2px;
    border: 0px;
}
#top {
    bottom: 30%;
    height: 27%;
    top: 3%;
    left: 25%;
    width: 50%;
    border: 0px orange solid;
    padding: 2px;
    position: relative;
}
#bottom {
    left: 35%;
    width: 30%;
    bottom: 5%;
    height: 3%;
    position: relative;
}
#two {
    top: 3%;
    left: 3%;
    border: 1px #ccf solid;
    position: relative;
}
#position_fields {
    display: block;
    position: relative;
}
#position0 {
    display: block;
}
#position1 {
    display: block;
}
#position2 {
    display: block;
}
#map {
    left: 20%;
    height: 400px;
    width: 60%;
    max-width: none;
    padding: 0px;
    border: 2px solid #008800;
}
#map img {
   max-width: none;
}
#map_canvas img {
   max-width: none;
   max-height: none;
   left: 20%;
   height: 50%;
   width: 70%;
   padding: 0px;
   border: 5px solid blue;
}
