html {
  font-size: 17px;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #FDF0D0;
}
.form-background {
  background-color: rgba(230, 230, 175);
  padding: 4px;
}
* {
  box-sizing: border-box;
}
.content {
  margin: 2%;
}
.box-size {
  box-sizing: border-box;
  width: 99%;
}
.paragraph-box {
    box-sizing: border-box;
    background-color: #fffffa;
    border: 2px solid #226644;
    padding-top: 3px;
    padding-bottom: 3px;
}
.job-description-box {
    box-sizing: border-box;
    background-color: #eff;
    text-align: left;
    word-wrap: break-word;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 98%;
    margin-top: 0.1em;
    margin-bottom: 0.05em;
}
.resume-paragraph {
    box-sizing: border-box;
    text-align: left;
    word-wrap: break-word;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 98%;
    margin-top: 0.1em;
    margin-bottom: 0.2em;
}
.edu-award {
    box-sizing: border-box;
    text-align: left;
    word-wrap: break-word;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 98%;
}
.year-form-input {
    width: 8em;
    background-color: #eef;
    max-width: 49%;
    box-sizing: border-box;
    border: 0px solid red;
    padding: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 3px;
}
.float-left {
    display: inline-block;
    border: 0px solid blue;
    float:left
}
form {
    padding: 0.2vw;
    margin: auto; !important;
}
h1 {
    color: #008800;
    margin-top: 5px;
    margin-bottom: 1px;
    padding: 2px;
}
.headline-green {
    color: #008800;
}
h2 {
    color: #008800;
    margin-top: 10px;
    padding: 1px;
}
h3 {
    color: #008800;
    font-size: 1.8em;
    margin-top: 18px;
    padding-top: 2px;
    padding-bottom: 8px;
    text-align: left;
}
h4 {
    margin-top: 10px;
    font-size: 1.4em;
    color: #008800;
    text-align: left;
}
h5 {
    color: #446644;
    margin-top: 10px;
    padding-top: 2px;
    font-size: 1.1em;
    text-align: left;
    font-weight: normal;
}
p {
    color: #1A301A;
    font-size: 1em;
    margin-block-end: 0.6em;
}
h5 span {
    color: #1A301A;
    padding: 1px;
    font-size: 1em;
}
span.round (
    border-radius: 15px;
    color: #1A301A;
  )
.note {
    color: #008800;
    font-style: italic;
}
a {
    font-size: inherit;
    color: #0055FF;
    text-decoration: underline;
    text-align: center;
    padding: 2px;
}
p a {
    color: #0044ee;
    text-decoration: underline;
    text-align: center;
    padding: 2px;
    font-size: inherit;
}
/* unvisited link */
a:link {
   color: #0044ee;
}
p a:link {
   color: #0044ee;
}
/* visited link */
a:visited {
   color: #17d;
}
/* mouse over link */
a:hover {
   color: hotpink;
   text-decoration: none;
}
input, textarea, select, button {
    font-size: 0.9em;
    padding: 4px;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}
/* The changed color without paragraph */
input {
    box-sizing: border-box;
    padding: 6px;
    /*background-color: rgb(255, 255, 220);*/
    /*background-color: #f0fdf0;*/
    background-color: #eff;
    border 2px solid #226644;
    font-size: 1em;
    width: 18em;
}
textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    box-sizing: border-box;
    background-color: rgb(255, 255, 220);
    border: 2px solid #226644;
    height: 300px;
    width: 100%;
    max-width: 1100px;
    padding: 3px;
}
/* initial colors and fill inside paragraph */
/* p input {
    box-sizing: border-box;
    padding: 6px;
    background-color: #990000;
    border: 0.5px solid ;
    font-size: 1em;
    width: 18em;
} */
/* The changed color */
/* Change the color to your own background color: yellow #F9FFBA */
input.click-plus {
    width: 2.2em;
}
input.year-entry-box {
    margin: 3px;
    width: 5em;
}
label {
    border: 0px solid #226644;
    margin: 0px !important;
    padding: 0px;
}
label.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.padding-zero {
    padding: 0px;
}
.centered-row-layout {
    width: 100%;
    margin-left: auto ;
    margin-right: auto ;
}
img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 98%;
    top: 12px;
}
.paragraph_link {
    color: #0055FF;
    text-decoration: none;
    text-align: center;
}
.small-bottom-pad {
    padding-bottom: 1px;
    margin-bottom: 1px
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.float-left {
    float: left;
}
.right {
    text-align: right;
}
.justify {
    text-align: justify;
    text-justify: inter-word;
}
.clock {
    color: #008800;
    font-size: 1.5em;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 6px;
    font-weight: bold;
    background-color: #ffe;
    border: 3px solid #008800;
}
.message {
    padding: 1px;
    margin-bottom: 10px;
    color: #bb4422;
}
.indent {
    margin-left: 30px;
}
.pad-left {
    padding-left: 10px;
    padding-right: 5px;
}
.button {
    font-size: 1.5rem;
    width: 8vw;
    padding: 3px;
    border 2px solid #008800;
    background-color: #eff;
    margin-left: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    text-decoration: none;
}
.button-css {
    font-size: 2rem;
    text-align: center;
    padding: 3px;
    margin-top: 8px;
    margin-bottom: 8px;
    border 2px solid #008800;
    background-color: #def;
    margin: 6px;
}
.button-submit {
    font-size: 1.4rem;
    padding: 3px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 2px solid #008800;
    background-color: #def;
    margin: 6px;
}
.button-cancel {
    font-size: 1.7rem;
    width: 5em;
    padding: 3px;
    border 2px solid #008800;
    background-color: #def;
    margin-top: 10px;
}
.width-eight {
    width: 8rem;
}
.width-twelve {
    width: 12rem;
}
.width-eighteen {
    width: 18rem;
}
.button-small {
    font-size: 1.5rem;
    width: 50px;
    padding: 2px;
    border 2px solid #008800;
    background-color: #def;
    margin-top: 4px;
}
button.button-small {
    font-size: 2rem;
    width: 50px;
    padding: 2px;
    border 2px solid #008800;
    background-color: #def;
    margin-top: 4px;
}
input.wide-2char-right {
    font-size: 1.8rem;
    text-align: right;
    width: 1em;
    padding: 2px;
    border 2px solid #008800;
    background-color: #def;
    margin-top: 4px;
}
input.wide-10char {
    font-size: 1.5rem;
    text-align: center;
    width: 3.6em;
    padding: 3px;
    border 2px solid #008800;
    background-color: #def;
    margin-top: 4px;
}
input.wide-15char {
    font-size: 1.2rem;
    text-align: center;
    width: 9em;
    padding: 2px;
    border 2px solid #008800;
    background-color: #def;
    margin-top: 4px;
}
input.wide-20char {
    font-size: 1.4rem;
    text-align: center;
    width: 10em;
    padding: 2px;
    border 2px solid #008800;
    background-color: #def;
    margin-top: 4px;
}

.click-plus {
    text-align: center;
    border 2px solid #008800;
    background-color: #ffd;
    width: 44px;
}
.click-plus-activities {
    text-align: center;
    border 2px solid #008800;
    background-color: #ffd;
    width: 44px;
    margin: 0.5rem;
}
.click-plus-activities-input-button {
    text-align: center;
    border 2px solid #008800;
    background-color: #ffd;
    width: 38px;
    margin: 0.5rem;
}
.ui-autocomplete-custom {
    z-index: 2;
}
.spacer {
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}
.double-space {
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.quad-space {
    margin-top: 4vw;
    margin-bottom: 4vw;
}
/* after input change conditions within paragraph */
/*.text-box {
    font-size: 1em;
    background-color: #ffb;
    border 2px solid #886600;
    text-align: left;
    padding: 3px;
    box-sizing: border-box;
}*/
/* After entering data  for login;  before entering data for apply*/
input.text-box {
    font-size: 1em;
    background-color: #eff;
    border 2px solid #226644;
    text-align: left;
    padding: 3px;
    box-sizing: border-box;
}
textarea.paragraph-box {
    font-size: 1em;
    background-color: #eff;
    border 2px solid #226644;
    text-align: left;
    padding: 3px;
    box-sizing: border-box;
}
input:hover {
    color: #335544;
    outline: 0px solid pink;
}
input[type=text]:focus{
    color: #226644;
    outline: 1px solid orange;
}
input[type=radio]:hover{
    color: #225544;
    background-color: orange;
    outline: 0px solid orange;
}
input[type="number"]:hover{
    color: #225544;
    outline: 3px solid orange;
}
input[type=text]:hover{
    color: #225544;
    outline: 3px solid orange;
}
input[type=password]:hover{
    color: #225544;
    outline: 3px solid orange;
}
input[type=button]:hover{
    color: #eee;
    background-color: rgb(150,100,50);
    outline: 0px solid pink;
}
textarea:hover{
    color: #077;
    outline: 3px solid orange;
}
textarea.paragraph-box: hover {
  color: #077;
  outline: 3px solid orange;
}


/* initial color; yellow #F9FFBA */
/*input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #f9fefe inset;
    -webkit-text-fill-color: #275;
    color: #33FFcc !important;
}*/
/* Switches bertween initial and final after change.*/
/* initial for login */
/*p input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #fffff0inset;
    -webkit-text-fill-color: #333;
    color: #448844 !important;
}*/
p input:-webkit-autofill:focus {
    -webkit-box-shadow: #e0e000, 0 0 0 50px blue inset;
    -webkit-text-fill-color: #333;
}
input:-webkit-autofill:hover {
    -webkit-box-shadow: #e0e000, 5px 0 0 50px red inset;
},
textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px #f9fefe inset; /* Change the color to your own background color: yellow #F9FFBA */
    -webkit-text-fill-color: #933;
    /*color: #88FF88 !important;*/
},
textarea:-webkit-autofill:hover {
    -webkit-box-shadow: #e00000 , 0 10px 0 50px green inset;
},
textarea:-webkit-autofill:focus {
    -webkit-box-shadow: #e0e000 ,0 0 0 50px red inset;
    -webkit-text-fill-color: #333;
},
select:-webkit-autofill,
select:-webkit-autofill:hover,
/* Revised input box (similar to visited) */
select:-webkit-autofill:focus {
  border: 10px solid #226600;
  -webkit-text-fill-color: green;
  /* Initial background color  with no paragraph element */
  -webkit-box-shadow: 0 0 0px 1000px #ff0000 inset;
  -webkit-text-fill-color: #333;
  color: #444444 !important;
  transition: background-color: 5000s ease-in-out 3s;
}
/*input:-internal-autofill-selected {
    background-color: rgb(0, 254, 240);
    border 1px solid #226644;
    background-image: none !important;
    color: rgb(250, 100, 0) !important;
}*/
@-webkit-keyframes autofill {
    100% {
        background: transparent;
        color: #ff0000;
    }
}
input.visited {
       color: #008800;
       border: 2px solid #226644;
       background-color: #ffe;
       /*-webkit-box-shadow: 0 0 0px 1000px #ffaaaa inset;*/
       /*box-shadow: 3px 3px 1px orange;*/
       font-size: 1em;
}
input.visited-long {
       color: #008800;
       border: 2px solid #226644;
       background-color: #ffe;
       width: 100%;
       /*-webkit-box-shadow: 0 0 0px 1000px #ffaaaa inset;*/
       /*box-shadow: 3px 3px 1px orange;*/
}
.text-box-long {
    border: 2px solid #226644;
    text-align: left;
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(238,254,254);
}
/* The visited css class is added to the box upon changes. */
textarea.visited {
       color: #264;
       outline: 1px solid #997755;
       background-color: #ffe;
       /*-webkit-box-shadow: 0 0 0px 1000px #ffaaaa inset;*/
       /*box-shadow: 3px 3px 1px orange;*/
       font-size: 1em;
}
input[type=text] {
    font-size: inherit;
}
.button-submit:focus{}
.button-submit:hover{
  background-color:orange;
  color: 222;
  outline: 0px solid pink;
}
input[type=submit]:hover{
    color: #335544;
    outline: 1px solid pink;
}
button:focus{}
button:hover{
   background-color: orange;
   color: 111;
   outline: 0px solid pink;
}
.anchor-button {
    padding: 0.2rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border: 2px solid #008800;
    background-color: #eff;
    margin-top: 0.2rem;
    color: 333;
    text-decoration: none;
}
.anchor-radio-button {
    padding: 0.2rem;
    font-size: 3rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border: 2px solid #008800;
    border-radius : 50%;
    background-color: #eff;
    margin-top: 0.2rem;
    color: 333;
    text-decoration: none;
}
.incomplete_field {
    color: #22cc33;
    background-color: #ff0000;
}
.max-entry-box-width {
    width: 100%;
    max-width: 100%;
}
.year-entry-box {
    padding: 3px;
    background-color: #eff;
    border: 2px solid #226600;
}
.subject-name {
    width: 44vw;
}
.name-box-small {
    width: 120px;
    padding: 3px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #eef;
}
.headline-box {
    font-size: 3vw;
    width: 100%;
    padding-top: 2px;
    margin-top: 2px;
    margin-bottom: 5px;
    border: 2px solid #008800;
    background-color: #eef;
}
.school {
    width: 98%;
}
.award {
    width: 98%;
}
.name-box {
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #008800;
    background-color: #eef;
}
.skill {
    box-sizing: border-box;
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #226600;
}
.activity {
    box-sizing: border-box;
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #226600;
}
.hobby {
    box-sizing: border-box;
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #226600;
}

.small-word-button {
    font-size: 2.5vw;
    width: 80px;
    padding: 2px;
    margin-top: 20px;
    border: 2px solid #008800;
    background-color: #def;
}
.margin-close {
    margin-top: 7px;
    margin-bottom: 7px;
}
.more-left-margin {
    margin-left: 3vw;
}
.more-right-margin {
    margin-right: 2em;
}
.more-top-margin {
    margin-top: 4vw;
}
.less-top-margin {
    margin-top: 0.2vw;
    margin-block-start: 0.1vw;
}
.more-bottom-margin {
    margin-bottom: 1.5em;
}
.more-bottom-margin-0p3x {
    margin-bottom: 0.3em;
}
.more-bottom-margin-1x {
    margin-bottom: 0.5em;
}
.more-bottom-margin-1p5x {
    margin-bottom: 0.75em;
}
.more-bottom-margin-2x {
    margin-bottom: 1em;
}
.more-bottom-margin-3x {
    margin-bottom: 1.5em;
}
.no-bottom-margin {
    margin-bottom: 0.05em;
}
.more-line-height-1p5em {
    line-height: 1.5em;
}
.more-line-height-2x {
    line-height: 2em;
}
.more-line-height-3x {
    line-height: 3em;
}
.less-bottom-margin {
    margin-bottom: 0.2vw;
    margin-block-end: 0.1vw;
}
.margin-top-small {
    margin-top: 2px;
}
.margin-bottom-small {
    margin-bottom: 2px;
}
.more-margin-1x {
    margin: 0.5rem;
}
.more-top-margin-1x {
    margin-top: 0.5rem;
}
.more-top-margin-2x {
    margin-top: 1.01rem;
}
.more-top-margin-3x {
    margin-top: 1.5em;
}
.zero-bottom-margin {
    margin-bottom: 0px;
}
input.zero-top-margin {
    margin-top: 0px;
}
.div-edu {
    border-style: dashed;
    border-width: thin;
    /*background-color: #FDF0A0;*/
    padding: 10px;
}
.align-content-left {
    text-align: left;
}
table {
      border-collapse: collapse;
      table-layout:fixed;
      width: 100%;
      padding: 5px;
      border: 2px solid #008800;
      background-color: #CCEEFF;
}
.tablePosition {
      border-collapse: collapse;
      margin: auto;
      border: 0px solid #008800;
}
tr {
    line-height: normal;
}
th {
    font-size: 1.05em;
    color: #008800;
    padding: 3px;
    margin-left: auto ;
    margin-right: auto ;
    background-color: #BBDDEE;
    border-spacing: 0px;
    border: 2px solid #008800;
}
td {
    font-size: 0.88em;
    word-break: break-word;
    padding: 3px;
    margin-left: auto ;
    margin-right: auto ;
    border: 2px solid #008800;
    border-spacing: 0px;
    background-color: #EEEEFF;
}
ul {
    margin-bottom: 10px;
    padding-inline-start: 20px;
    list-style-type: square;
}
li {
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 2px;
    list-style-type: square;
    font-size: 1em;
    color: #333;
}
/*#main {
    position: absolute;
    top: 2%;
    border: 0px orange solid;
}*/
#top {
    bottom: 30%;
    height: 27%;
    top: 3%;
    left: 25%;
    width: 50%;
    border: 0px orange solid;
    padding: 1px;
    position: relative;
}
#centerlist {
    top: 20%;
    left: 30%;
    width: 58%;
    border: 0px orange solid;
}
#bottom {
    left: 35%;
    width: 30%;
    bottom: 5%;
    height: 3%;
    position: relative;
}
#two {
    top: 3%;
    left: 3%;
    border: 0px #ccf solid;
    position: relative;
}
.row {
  display: flex;
  flex-direction: row;
}
div.div-form-group {
  box-sizing: border-box;
  padding: 4px;
  margin: auto; !important;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
    /*-moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;*/
  width: 100%;
}
div.border-top-bottom {
    border-width: 1px;
    border-color: #449966;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: none;
    border-right-style: none;
    border-width: 1px;
    border-color: #226644;
}
div.year-group {
  box-sizing: border-box;
  padding: 4px;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
    /*-moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;*/
  width: 100%;
  border: 0px brown solid;
}
div.no-border {
  border: 0px;
}
div.goal-box-layout {
  box-sizing: border-box;
    /*-moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;*/
  padding-left: 1px;
  padding-right: 1px;
  border: 0px blue solid;
  margin: auto; !important;
}
div.absolute-left {
    position: absolute;
    width: 22%;
    left: 1%;
    box-sizing: border-box;
}
div.absolute-right {
    position: absolute;
    width: 22%;
    right: 1%;
    box-sizing: border-box;
}
div.container-section {
    box-sizing: border-box;
    border 2px solid black;
    padding: 3px;
    margin-top: 0.7em;
    margin-bottom: 3px;
    margin: auto; !important;
    width: 100%;
}
div.container-form-entry {
    box-sizing: border-box;
    border: 0px solid black;
    padding: 3px;
    margin-top: 0.7em;
    margin-bottom: 3px;
    margin: auto; !important;
    width: 100%;
}
div.year-form-entry {
    width: 14em;
    max-width: 49%;
    box-sizing: border-box;
    display: inline-block;
    border: 0px solid red;
    padding: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 3px;
}
div.box-input-label {
    box-sizing: border-box;
    display: inline-block;
    border: 0px solid blue;
    text-align: left;
    padding-left: 0px;
    width: 6em;
}
div.radio-form-select {
    border: 0px solid black;
    padding: 3px;
    margin: auto;
    margin-top: 0.7em;
    margin-bottom: 3px;
    max-width: 40em;
}
div.link-button {
    display: inline-block;
    font-size: 1.3rem;
    border: 0px solid blue;
    text-align: right;
    padding-left: 0px;
    margin-right: 0.6em;
    width: 45%;
}
div.link-button-label {
    display: inline-block;
    font-size: 1em;
    text-align: left;
    vertical-align: middle;
    border: 0px solid #226644;
    margin-top: 0px;
    margin-bottom: 0px;
    word-break: break-word;
    width: calc(100% - 55% - 2em);
    padding-top: 0px;
}
div.position-input-label {
    border: 0px solid black;
    display: inline-block;
    padding-left: 0px;
}
div.input-form {
  margin: 5px;
  border-width: 0px;
  border-color: #FF6600;
}
div.short-input-form {
  width: 5em;
  margin-right: 1em;
  border-width: 0px;
  border-color: #FF6600;
}
div.year-input-label {
    width: 5em;
    text-align: left;
    border: 0px solid blue;
    padding-left: 0px;
    display: inline-block;
    margin: 3px;
}
div.short-input-label {
    display: inline-block;
    width: 3em;
    text-align: left;
}

div.phrase-input-label {
  width: 6em;
  text-align: left;
  padding-left: 0px;
}
div.profile-input-form {
    box-sizing: border-box;
    display: inline-block;
    border: 0px solid blue;
}
div.inline {
    display: inline;
}
div.center {
    margin: auto; !important;
}
div.more-top-margin-4x {
    margin-top: 4vw;
}
div.more-top-margin-3x {
    margin-top: 3vw;
}
p.more-top-margin-3x {
    margin-top: 3vw;
}
p.more-top-margin-2x {
    margin-top: 2vw;
}
p.more-top-margin-1x {
    margin-top: 0.8vw;
}
p.more-top-margin-0p6 {
    margin-top: 0.6vw;
}
div.more-top-margin-2x {
    margin-top: 2vw;
}
div.more-top-margin-1x {
    margin-top: 1vw;
}
div.more-top-margin-0x5 {
    margin-top: 0.5vw;
}
div.inline-block-layout {
    /*display: inline-block;
    vertical-align: baseline;
    margin-left: auto;
    margin-right: auto;
    */
    padding: 2px;
    width: 200px;
}
div.inline-block {
    display: inline-block;
}
div.left {
    position: relative;
    left: 0.5%;
}
div.radio {
    font-size: 1.3rem;
    box-sizing: border-box;
    text-align: right;
    width: 16em;
    padding: 20px;
    padding-right: 20px;
    border: 0px solid #008800;
    margin: auto; !important;
    margin-top: 0.7em;
    margin-bottom: 3px;
}
div.anchor-button {
    padding: 0.2rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border: 2px solid #008800;
    background-color: #eff;
    margin-top: 0.2rem;
    color: 333;
    text-decoration: none;
}
p.small-bottom-margin {
    margin-bottom: 0px;
}
div.more-bottom-margin-2x {
    margin-bottom: 1em;
}
div.zero-top-margin {
    margin-top: 0px;
}
/*div.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons.ui-draggable {
    box-sizing: border-box !important;
    width: 300px !important;
    margin: auto; !important;
}*/
/* brown color: #bb5500  */
