form {
    margin-top: 5px;
    margin-bottom: 5px;
}
div.container-form-entry {
  max-width: 40em;
  width: calc(100%);
}
.paragraph-box {

}
div.box-input-label {
    text-align: left;
    width: 5em;
}
div.short-input-label {
  display: inline-block;
  text-align: left;
  width: 5em;
  margin-left: 0;
  margin-right: 0;
}
h2 {
    margin-bottom: 10px;
}
h3 {
    font-size: 1.7rem;
}
h3 a {
    color: #0088ff;
    font-size: 1.7rem;
    margin-top: 20px;
}
h4 {
    font-size: 1rem;
    margin-top: 12px;
}
h5 {
    font-size: 0.9rem;
    color: #008800;
    margin-top: 10px;
}
.big {
    font-size: 1.3rem;
}
.small {
    font-size: 0.9rem;
}
textarea {
    height: 400px;
}
.ui-autocomplete-custom {
    font: 400 Arial;
}
img {
    width: 99%;
}
.button-submit {
    font-size: inherit;
    width: 80px;
}
.button-cancel {
    width: 80px;
}
.button-small {
    font-size: 1.2rem;
    width: 30px;
}
.click-plus {
    font-size: 1.5rem;
    width: 1.6em;
    padding: 1px;
    margin-bottom: 12px;
    margin-top: 6px;
}
.spacer {
    margin-top: 8px;
    margin-bottom: 8px;
}
.double-space {
    margin-top: 16px;
    margin-bottom: 16px;
}
.quad-space {
    margin-top: 32px;
    margin-bottom: 8px;
}
.text-box {
    display: inline-block;
    width: 98.5%;
    box-sizing: border-box;
}
.input-org {
    width: 70%;
}
.subject-name {
    width: 390px;
}
/* auto-completion classes */
.skill {
    width: 98.5%;
    max-width: 30em;
}
.activity {
    width: 98.5%;
    max-width: 30em;
}
/* end auto-completion classes */
.name-box-small {
    width: 120px;
    padding: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #eef;
}
.year-entry-box {
    width: 5em;
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.small-word-button {
    font-size: 1.1rem;
    width: 80px;
}
.map_canvas {
   max-width: none;
}
.gmnoprint img {
    max-width: none;
}
th {
    padding-left: 6px;
    padding-right: 6px;
    background-color: #BBDDAA;
}
td {
    padding-left: 6px;
    padding-right: 6px;
}
div.center {
    left: 25%;
    right: 25%;
    width: 50%;
    position: absolute;
}
.content {
    margin-top: 15px;
    margin-bottom: 15px;
}
#top_left {
    position: absolute;
    width: 19%;
    top: 15%;
    left: 3%;
    color: #080;
    background-color: #ffe;
    border: 5px #080 solid;
    padding: 20px
}
#under_top_left {
    position: absolute;
    width: 19%;
    left: 3%;
    color: #080;
    background-color: #ffe;
    border: 2px #080 solid;
    padding: 20px
}
#one {
  top: 5%;
  left: 10%;
  width: 80%;
  height: 38%;
  border: 0px orange solid;
  padding-left: 2px;
}
#top_right {
    position: absolute;
    width: 19%;
    top: 15%;
    right: 3%;
    color: #080;
    background-color: #ffe;
    border: 2px #080 solid;
    padding: 20px
}
#top {
    bottom: 30%;
    height: 27%;
    top: 3%;
    left: 25%;
    width: 50%;
    border: 0px orange solid;
    padding: 1px;
    position: relative;
}
#bottom {
    left: 35%;
    width: 30%;
    bottom: 5%;
    height: 3%;
    position: relative;
}
#two {
    left: 25%;
    border: 0px orange solid;
    position: relative;
}
#map {
    /*position: relative;
    position: absolute;
    top: 35%;*/
    left: 20%;
    height: 390px;
    width: 60%;
    max-width: none;
    padding: 0px;
    border: 2px solid #008800;
}
#map img {
   max-width: none;
}
#map_canvas img {
   max-width: none;
   max-height: none;
   left: 20%;
   height: 50%;
   width: 70%;
   padding: 0px;
   border: 5px solid blue;
}
